

/* Site Inspiration */
/*
https://www.scalzodesign.be

https://www.miskastudio.com

https://rejouice.com

https://libermans-488f73.webflow.io

https://www.adhoclegal.gr

http://new.savour.design

https://jacobmckee.com

https://vitaarchitecture.com/projects/

https://www.giuligartner.com/stills/inspired-by-iceland

https://www.artsphere.fr

https://www.margotpriolet.com

https://akaru.fr

https://www.theperfumeshop.com/carolina-herrera-virtual-store

*/
/* Site Inspiration */





body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
}

.text-right {
  text-align: right;
}

nav a, nav span {
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav {
  border-bottom: 1px solid #000;
}



.big__menu {
 padding: 4rem 0; 
}

.big__menu ul {
  list-style-type: none;
  padding:0;
  text-align: center;
}
.big__menu ul a {
color: #000;
text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  font-size: 2rem;
}


.big__menu ul li:first-child {
margin-left: -5rem;
}

.big__menu ul li:nth-child(2) {
margin-left: 2rem;
}

.big__menu ul li:nth-child(3) {
margin-left: 4rem;
}

@media screen and (min-width: 991px) {
  .big__menu ul a {
  font-size: 3rem;
}
  .big__menu {
 padding: 6rem 0; 
}
}




/* footer */
footer .rs__footer ul {
  list-style-type: none;
  padding: 0;
}

.footer__content {
  border-top: 1px solid #000;
}

footer .rs__footer ul li {
  display: inline-block;
}

footer .rs__footer ul li a {
text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

/* footer */
