/* Inspirations 
https://biotech.chipsa.design/
https://govoyager.com/
https://freebiesbug.com/code-stuff/elena-portfolio-template/
https://freebiesbug.com/code-stuff/framer-agency-template/
https://www.trycursor.com/
https://mobbin.com/
  font-family: "Barlow", sans-serif;
font-family: "Inter", sans-serif;

https://jasonbriscoe.com/?ref=landingfolio
https://www.slidddo.com/?ref=landingfolio
https://mobbin.com/
https://www.variablefontcourse.com/?ref=landingfolio
https://www.polymer.co/?ref=landingfolio
https://www.todesktop.com/?ref=landingfolio
https://www.rewind.ai/?ref=landingfolio
https://www.nudgenow.com/?ref=landingfolio
https://www.relume.io/?ref=landingfolio

style contenu :
https://www.sannewijbenga.com/?ref=landingfolio
*/

body {
  background-color: #f0efed;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}



/* header */

header {
  margin: 1rem;
    position: fixed;
    left: 0;
    right: 0; 
  padding: 0 0 8rem 0;
}

.navbar {
    display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.navbar-menu-toggle {
      display: flex;
  align-items: center;
  height: 100%;
}

.navbar-brand {
        background-color: #fff;
  border-radius: 10px;
      padding: 15px 15px;
  margin: 0 0.3rem 0 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.navbar-brand span {
    font-size: 24px;
  margin: 0;
}

.navbar-menu {
  flex: 1;
}

.navbar-menu-toggle {
       background-color: #fff;
  border-radius: 10px;
      padding: 15px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.navbar-menu-toggle span {
  margin: 0 0.5rem 0 0;
}

.navbar-menu-links-box {
  display: none; 
  position: absolute;
  top: 4.1rem;
  right: 0;
  left: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
         background-color: #fff;
  border-radius: 10px;
      padding: 15px 15px;
  z-index: 9;

      margin: 0.5rem 0;
}

.navbar-menu-links-box ul {
  list-style-type: none;
}
.navbar-menu-links-box a {
  color: #000;
  text-decoration: none;
}
.navbar-menu-links-box li {
margin: 0.2rem 0;
  padding: 0.5rem 0;
}

.navbar-menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
.navbar-menu-links-box {
        margin: 0.5rem 1rem;
}
}

@media screen and (min-width: 577px) and (max-width: 767px) {
.navbar-menu-links-box {
        margin: 0.5rem auto;
}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
 .navbar-menu-links-box { 
           width: 508px;
  }
  
}

@media screen and (min-width: 768px) {
.navbar-menu {
    position: relative;
}
}

@media screen and (min-width: 1024px) {
  .navbar {
    left: 2rem;
    right: 2rem;
    transition: .5s;
  }  
  
  .navbar.scrolled {
 padding: 0 2rem;
    transition: .5s;
}
}

/* header */

/* Accueil */
.accueil {
  padding: 6rem 0;
}
.accueil h1 {
 font-size: 80px;
    font-weight: 600;
}
.accueil h2 {
 font-size: 40px;
    font-weight: 600;
}
.accueil p {
 font-size: 18px;
}
/* Accueil */


/* second__nav */
.second__nav {
  margin: 4rem 0;
}
/* second__nav */



.articles {
  margin: 4rem 0;
}




/* footer */
footer {
  margin: 2rem 0;
}

footer .footer__content {
  padding: 1rem;
  background-color: #fff;
        border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
  footer p {
    margin: 0;
  }

/* footer */
